<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="tc">Avatars</h1>
    <div class="tc">
        <input class="pa3 ba b--green bg-lightest-blue" type="search" placeholder="Search Avatars" oninput="searchInput()" id="searchBox">
    </div>
    <div class="tc">
        {% for avatar in data_avatars["avatars"] %}
        <div class="tc bg-light-blue dib br3 pa3 ma2 grow bw2 shadow-5 card">
            <img src="https://avatars.dicebear.com/api/avataaars/{{avatar['id']}}.svg?mood[]=happy" alt="Avatar" width="200" height="200">
            <h2>{{avatar["name"]}}</h2>
            <p>{{avatar["email"]}}</p>
        </div>
        {% endfor %}
    </div>

    
    <script>
        function searchInput() {
            var pyVar = '{{ data_avatars["avatars"] | tojson}}';
            var searchBoxInput = document.getElementById("searchBox").value;
            var cardItems = document.getElementsByClassName("card");
            
            var avatarObj = JSON.parse(pyVar);
            const filteredAvatars = avatarObj.filter(avatarObj => {
                return (avatarObj.name.toLowerCase().includes(searchBoxInput.toLowerCase()));
            });  
            console.log(filteredAvatars);

            for(i=0;i<cardItems.length; i++){
                var currentCardName = cardItems[i].getElementsByTagName("h2")[0].innerHTML;
                for(n=0; n<filteredAvatars.length; n++){
                    if(filteredAvatars[n].name===currentCardName){
                        cardItems[i].style.display = "";
                        break;
                    }
                    else{
                        cardItems[i].style.display = "none";
                    }
                }
                if(filteredAvatars.length===0){
                    cardItems[i].style.display = "none";
                }
            }
        }
        searchInput()
    </script>
</body>
</html>
