<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="tc">Avatars</h1>
    <div class="tc">
        <input class="pa3 ba b--green bg-lightest-blue" type="search" placeholder="Search Avatars" oninput="searchInput()" id="searchBox">
    </div>
    <div class="tc">
        {% for avatar in data_avatars["avatars"] %}
        <div class="tc bg-light-blue dib br3 pa3 ma2 grow bw2 shadow-5">
            <img src="https://avatars.dicebear.com/api/avataaars/{{avatar['id']}}.svg?mood[]=happy" alt="Avatar" width="200" height="200">
            <h2>{{avatar["name"]}}</h2>
            <p>{{avatar["email"]}}</p>
        </div>
        {% endfor %}
    </div>

    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <script>
        const py_var = '{{ data_avatars["avatars"] | tojson}}';
        function searchInput(py_var) {
            console.log(py_var);
            var searchBoxInput = document.getElementById("searchBox").value;
            var avatars_obj = JSON.parse(py_var)
            const filteredAvatars = avatars_obj.filter(avatars_obj => {
                return (avatars_obj.name.toLowerCase().includes(searchBoxInput.toLowerCase()))
            });
            console.log(filteredAvatars);
        }
    </script>
</body>
</html>
